
@font-face {
    font-family: "mc";
    src:url("Mcziti.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: mc;
    src:url("Mcziti.ttf");
    font-weight: normal;
    font-style: normal;
}